@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('/assets/fonts/Proxima-Nova/ProximaNova-Regular.eot');
  src: url('/assets/fonts/Proxima-Nova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Proxima-Nova/ProximaNova-Regular.woff') format('woff'),
  url('/assets/fonts/Proxima-Nova/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Web Bold';
  src: url('/assets/fonts/Proxima-Nova/Proxima-Nova_Bold_W.woff2') format('woff2'),
  url('/assets/fonts/Proxima-Nova/Proxima-Nova_Bold_W.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 14px;
  color: $clr-black;
  font-family: 'Proxima Nova Regular', Arial, sans-serif;
}
.container {
  max-width: 1274px;
  margin: 0 auto;
  padding: 0 16px;
}
.body--fixed {
  overflow: hidden;
}