.flex {
  display: flex;
}
.items-start {
  align-items: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.items-center {
  align-items: center;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
