.link {
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
  color: $clr-lilac;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 68px;
  font-family: 'Proxima Nova Web Bold', Arial, sans-serif;
}
.h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 51px;
  font-family: 'Proxima Nova Web Bold', Arial, sans-serif;
}
.h3 {
  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
  font-family: 'Proxima Nova Web Bold', Arial, sans-serif;
}
.h4 {
  font-size: 27px;
  line-height: 33px;
  font-weight: 700;
  font-family: 'Proxima Nova Web Bold', Arial, sans-serif;
  &--regular {
    @extend .h4;
    font-family: 'Proxima Nova Regular',Arial,sans-serif;
    font-weight: 400;
  }
}
.sub1 {
  font-size: 22px;
  line-height: 27px;
  &--bold {
    @extend .sub1;
    font-weight: 700;
    font-family: 'Proxima Nova Web Bold', Arial, sans-serif;
  }
}
.sub2 {
  font-size: 20px;
  line-height: 24px;
  &--bold {
    @extend .sub2;
    font-weight: 700;
    font-family: 'Proxima Nova Web Bold', Arial, sans-serif;
  }
}
.body1 {
  font-size: 16px;
  line-height: 21px;
  &--semibold {
    @extend .body1;
    font-weight: 600;
    font-family: 'Proxima Nova Web Bold', Arial, sans-serif;
  }
}
.body2 {
  font-size: 14px;
  line-height: 19px;
  &--semibold {
    @extend .body2;
    font-weight: 600;
    font-family: 'Proxima Nova Web Bold', Arial, sans-serif;
  }
}
@media only screen and (min-width: 1024px) {
  .h1 {
    font-size: 110px;
    line-height: 130px;
  }
  .h2 {
    font-size: 95px;
    line-height: 105px;
  }
  .h3 {
    font-size: 70px;
    line-height: 82px;
  }
  .h4 {
    font-size: 49px;
    line-height: 59px;
  }
  .sub1 {
    font-size: 31px;
    line-height: 40px;
  }
  .sub2 {
    font-size: 25px;
    line-height: 34px;
  }
  .body1 {
    font-size: 20px;
    line-height: 27px;
  }
  .body2 {
    font-size: 16px;
    line-height: 22px;
  }
}