.black-border {
  border-top: 1px solid $clr-black--light;
  border-bottom: 1px solid $clr-black--light;
  padding: 24px 0;
  @media only screen and (min-width: $desktop) {
    padding: 60px 0;
  }
}
.bg-gray--light {
  background-color: $bg-gray--light;
}
.clr-lilac {
  color: $clr-lilac;
}
.clr-lilac-3 {
  color: $clr-lilac--3;
}
.clr-black--light {
  color: $clr-black--light;
}
.txt-center {
  text-align: center;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-40 {
  margin-bottom: 40px;
}
.bordered-section {
  border-top: 1px solid $clr-black--light;
  border-bottom: 1px solid $clr-black--light;
  @media only screen and (min-width: $desktop) {
    padding: 60px 0;
  }
}
.mb-24-50 {
  margin-bottom: 24px;
  @media only screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}
.mb-32-50 {
  margin-bottom: 32px;
  @media only screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}
.mb-32-60 {
  margin-bottom: 32px;
  @media only screen and (min-width: $desktop) {
    margin-bottom: 60px;
  }
}
.mb-32-80 {
  margin-bottom: 32px;
  @media only screen and (min-width: $desktop) {
    margin-bottom: 80px;
  }
}
.sub2-h4 {
  @extend .sub2;
  @media only screen and (min-width: $desktop) {
    font-size: 49px;
    line-height: 59px;
  }
}
.gray-dark {
  color: $clr-gray--dark;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.block {
  display: block;
  width: 100%;
}
.opacity-600 {
  opacity: .6;
}
.opacity-400 {
  opacity: .4;
}
.mr-20 {
  margin-right: 20px;
}
.mobile-only {
  @media only screen and (min-width: 1024px) {
    display: none !important;
  }
}
.desktop-only {
  @media only screen and (max-width: 1024px) {
    display: none !important;
  }
}