$clr-lilac: #6645ea;
$clr-lilac--1: #7a51ef;
$clr-lilac--2: #a97aff;
$clr-lilac--3: #ccb0ff;
$clr-cyan: #06bbce;
$clr-black: #1f1f1f;
$clr-black--light: #383838;
$clr-gray--dark: #969696;
$clr-gray: #bbb8c4;
$clr-white: #ffffff;
$bg-gray: #f4f6f6;
$bg-gray--light: #fbfbfb;
