.swiper-pagination {
  position: static !important;
  padding-top: 20px;
}
// .swiper-window {
//   max-width: 1280px;
//   margin: 0 30px;
// }
.home .swiper-button-prev,
.home .swiper-button-next {
  all: unset;
  cursor: pointer;
  margin: 0 20px;
  &:after {
    content: none;
  }
}
.home .swiper-container {
  // display: flex;
}
.home {
  .swiper-window {
    max-width: 1170px;
    overflow: hidden;
    margin: 0 15px;
  }
}
.home .swiper-slide {
  width: 100vw;
}
.home .swiper-wrapper {
  // margin-left: 50px;
}
.home .speaker-item {
  // margin-right: 50px;
}
.swiper-index {
  @extend .body1;
  &--max {
    color: $clr-gray;
  }
}
.swiper-button {
  &-prev {
    margin-right: 20px;
  }
  &-next {
    margin-left: 20px;
  }
}