.service-card {
  padding: 24px 8px 22px 16px;
  border-radius: 4px;
  background: $clr-white;
  display: flex;
  flex-direction: column;
  min-height: 250px;
  &__title {
    @extend .sub2--bold;
    margin-bottom: 8px;
  }
  &__subtitle {
    color: $clr-black--light;
  }
  &__price {
    @extend .body2;
    color: $clr-black--light;
    margin-top: auto;
  }
  @media only screen and (min-width: $desktop) {
    &__title {
      min-height: 68px;
    }
  }
}