.service-card {
  padding: 24px 8px 22px 16px;
  border-radius: 4px;
  background: $clr-white;
  display: flex;
  flex-direction: column;
  min-height: 250px;
  &, &__txt, &__subtitle {
    //  transition: 1s;
  }
  &__title {
    @extend .sub2--bold;
    margin-bottom: 8px;
  }
  &__txt {
    //opacity: 0;
    //visibility: hidden;
    @extend .body2;
    display: none;
  }
  &__price {
    @extend .body2;
    color: $clr-black--light;
    margin-top: auto;
  }
  &:hover {
    * {
      color: $clr-white;
    }
    background-color: $clr-lilac;
    .service-card__subtitle {
      //opacity: 0;
      //visibility: hidden;
      //height: 0;
      display: none;
    }
    .service-card__txt {
      //opacity: 1;
      //visibility: visible;
      display: block;
    }
  }
  @media only screen and (min-width: $desktop) {
    padding: 30px 30px 24px;
    &__title {
      min-height: 68px;
    }
  }
}