.swiper-pagination {
  position: static !important;
  padding-top: 20px;
}
// .swiper-window {
//   max-width: 1280px;
//   margin: 0 30px;
// }
.news-section .swiper-button-prev,
.news-section .swiper-button-next {
  all: unset;
  cursor: pointer;
  margin: 0 20px;
  &:after {
    content: none;
  }
}
.home .swiper-container {
  // display: flex;
}
.swiper-container {
  overflow: hidden;
}
.news-section {
  .swiper-window {
    max-width: 1170px;
    overflow: hidden;
    margin: 0 15px;
  }
}
.swiper-index {
  @extend .body1;
  &--max {
    color: $clr-gray;
  }
}
.swiper-button {
  &-prev {
    margin-right: 20px;
  }
  &-next {
    margin-left: 20px;
  }
}