.link {
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
  color: #6645ea;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}

.h1, .step-item::after {
  font-size: 56px;
  font-weight: 700;
  line-height: 68px;
  font-family: "Proxima Nova Web Bold", Arial, sans-serif;
}

.h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 51px;
  font-family: "Proxima Nova Web Bold", Arial, sans-serif;
}

.h3 {
  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
  font-family: "Proxima Nova Web Bold", Arial, sans-serif;
}

.h4, .thesis-card--service h4, .award-item__place, .h4--regular {
  font-size: 27px;
  line-height: 33px;
  font-weight: 700;
  font-family: "Proxima Nova Web Bold", Arial, sans-serif;
}
.h4--regular {
  font-family: "Proxima Nova Regular", Arial, sans-serif;
  font-weight: 400;
}

.sub1, .sub1--bold, .projects .project-item__title, .review-block__author-name, .btn-tertiary {
  font-size: 22px;
  line-height: 27px;
}
.sub1--bold, .projects .project-item__title, .review-block__author-name, .btn-tertiary {
  font-weight: 700;
  font-family: "Proxima Nova Web Bold", Arial, sans-serif;
}

.sub2, .sub2-h4, .sub2--bold, .company-page .member-item__name, .step-item__title, .drop-item__title, .service-card__title, .thesis-card--service p {
  font-size: 20px;
  line-height: 24px;
}
.sub2--bold, .company-page .member-item__name, .step-item__title, .drop-item__title, .service-card__title, .thesis-card--service p {
  font-weight: 700;
  font-family: "Proxima Nova Web Bold", Arial, sans-serif;
}

.body1, .service-page .tag-list, .projects .project-item__subtitle, .home .clients .review-item__author-title, .news-card__content, .swiper-index, .contact-us .form .file, .contact-us .form input, .contact-us .form textarea, .footer__field, .btn-tag, .btn-tag--hover, p, .body1--semibold, .flutter-page .experience-section__item a, .case-section .review-card__author, .home .clients .review-item__author-name, .btn-2, .btn-primary {
  font-size: 16px;
  line-height: 21px;
}
.body1--semibold, .flutter-page .experience-section__item a, .case-section .review-card__author, .home .clients .review-item__author-name, .btn-2, .btn-primary {
  font-weight: 600;
  font-family: "Proxima Nova Web Bold", Arial, sans-serif;
}

.body2, .step-item__txt, .drop-item__subtitle, .news-card__tag, .news-card__date, .service-card__price, .contact-us .form-checkbox label, .footer__field ul, .header .menu, .img-thumbnail, .body2--semibold, .btn-header {
  font-size: 14px;
  line-height: 19px;
}
.body2--semibold, .btn-header {
  font-weight: 600;
  font-family: "Proxima Nova Web Bold", Arial, sans-serif;
}

@media only screen and (min-width: 1024px) {
  .h1, .step-item::after {
    font-size: 110px;
    line-height: 130px;
  }

  .h2 {
    font-size: 95px;
    line-height: 105px;
  }

  .h3 {
    font-size: 70px;
    line-height: 82px;
  }

  .h4, .thesis-card--service h4, .award-item__place, .h4--regular {
    font-size: 49px;
    line-height: 59px;
  }

  .sub1, .sub1--bold, .projects .project-item__title, .review-block__author-name, .btn-tertiary {
    font-size: 31px;
    line-height: 40px;
  }

  .sub2, .sub2-h4, .sub2--bold, .company-page .member-item__name, .step-item__title, .drop-item__title, .service-card__title, .thesis-card--service p {
    font-size: 25px;
    line-height: 34px;
  }

  .body1, .service-page .tag-list, .projects .project-item__subtitle, .home .clients .review-item__author-title, .news-card__content, .swiper-index, .contact-us .form .file, .contact-us .form input, .contact-us .form textarea, .footer__field, .btn-tag, .btn-tag--hover, p, .body1--semibold, .flutter-page .experience-section__item a, .case-section .review-card__author, .home .clients .review-item__author-name, .btn-2, .btn-primary {
    font-size: 20px;
    line-height: 27px;
  }

  .body2, .step-item__txt, .drop-item__subtitle, .news-card__tag, .news-card__date, .service-card__price, .contact-us .form-checkbox label, .footer__field ul, .header .menu, .img-thumbnail, .body2--semibold, .btn-header {
    font-size: 16px;
    line-height: 22px;
  }
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a, button, span {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: #383838;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

input,
button,
textarea {
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

input, textarea {
  color: inherit;
  width: 100%;
}

button {
  cursor: pointer;
  background: none;
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("/assets/fonts/Proxima-Nova/ProximaNova-Regular.eot");
  src: url("/assets/fonts/Proxima-Nova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Proxima-Nova/ProximaNova-Regular.woff") format("woff"), url("/assets/fonts/Proxima-Nova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Web Bold";
  src: url("/assets/fonts/Proxima-Nova/Proxima-Nova_Bold_W.woff2") format("woff2"), url("/assets/fonts/Proxima-Nova/Proxima-Nova_Bold_W.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 14px;
  color: #1f1f1f;
  font-family: "Proxima Nova Regular", Arial, sans-serif;
}

.container {
  max-width: 1274px;
  margin: 0 auto;
  padding: 0 16px;
}

.body--fixed {
  overflow: hidden;
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17.5px 0;
  color: #6645ea;
  background: #ffffff;
  border: 2px solid #6645ea;
  border-radius: 6px;
}
.btn-primary:hover {
  background: #6645ea;
  color: #ffffff;
}

.btn-tag, .btn-tag--hover {
  padding: 6px 16px;
  border: 1px solid #d1d1d1;
  border-radius: 24px;
  transition: 0.3s;
}
.btn-tag:hover, .btn-tag--hover:hover {
  border-color: #383838;
  background: #383838;
  color: #ffffff;
}
.btn-tag--hover {
  border-color: #383838 !important;
  background: #383838 !important;
  color: #ffffff !important;
}

.btn-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 32px;
  color: #6645ea;
  border: 2px solid #6645ea;
  border-radius: 6px;
  transition: 0.3s;
}
.btn-header svg {
  margin-left: 12px;
}
.btn-header svg > * {
  transition: 0.3s;
}
.btn-header:hover {
  color: #ffffff;
  background: #6645ea;
}
.btn-header:hover > svg > * {
  fill: #ffffff;
}

.btn-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 32px;
  color: #6645ea;
  border: 2px solid #6645ea;
  border-radius: 6px;
  transition: 0.3s;
}
.btn-2 svg {
  margin-left: 12px;
}
.btn-2 svg > * {
  transition: 0.3s;
}
.btn-2:hover {
  color: #ffffff;
  background: #6645ea;
}
.btn-2:hover svg > * {
  fill: #ffffff;
}

.btn-tertiary {
  color: #6645ea;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-tertiary svg {
  margin-left: 16px;
  transition: 0.3s;
}
.btn-tertiary:hover > svg {
  transform: translateX(8px);
}

.btn-primary,
.btn-tag,
.btn-tag--hover,
.btn-header,
.btn-2 {
  width: 100%;
}
@media only screen and (min-width: 500px) {
  .btn-primary,
.btn-tag,
.btn-tag--hover,
.btn-header,
.btn-2 {
    width: max-content;
  }
}

@media only screen and (min-width: 1024px) {
  .btn-tag, .btn-tag--hover {
    padding: 8px 24px;
  }
  .btn-tag:hover, .btn-tag--hover:hover {
    border-color: #1f1f1f;
    background: #1f1f1f;
    color: #ffffff;
  }

  .btn-2 {
    padding: 16px 32px 17px;
  }
}
.black-border {
  border-top: 1px solid #383838;
  border-bottom: 1px solid #383838;
  padding: 24px 0;
}
@media only screen and (min-width: 1024px) {
  .black-border {
    padding: 60px 0;
  }
}

.bg-gray--light {
  background-color: #fbfbfb;
}
.bg-gray--light section.contact-us .form .form-field input, .bg-gray--light section.contact-us .form .form-field textarea {
  background-color: #fff;
}

.clr-lilac {
  color: #6645ea;
}

.clr-lilac-3 {
  color: #ccb0ff;
}

.clr-black--light {
  color: #383838;
}

.txt-center {
  text-align: center;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.bordered-section {
  border-top: 1px solid #383838;
  border-bottom: 1px solid #383838;
}
@media only screen and (min-width: 1024px) {
  .bordered-section {
    padding: 60px 0;
  }
}

.mb-24-50 {
  margin-bottom: 24px;
}
@media only screen and (min-width: 1024px) {
  .mb-24-50 {
    margin-bottom: 50px;
  }
}

.mb-32-50 {
  margin-bottom: 32px;
}
@media only screen and (min-width: 1024px) {
  .mb-32-50 {
    margin-bottom: 50px;
  }
}

.mb-32-60 {
  margin-bottom: 32px;
}
@media only screen and (min-width: 1024px) {
  .mb-32-60 {
    margin-bottom: 60px;
  }
}

.mb-32-80 {
  margin-bottom: 32px;
}
@media only screen and (min-width: 1024px) {
  .mb-32-80 {
    margin-bottom: 80px;
  }
}

@media only screen and (min-width: 1024px) {
  .sub2-h4 {
    font-size: 49px;
    line-height: 59px;
  }
}

.gray-dark {
  color: #969696;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.block {
  display: block;
  width: 100%;
}

.opacity-600 {
  opacity: 0.6;
}

.opacity-400 {
  opacity: 0.4;
}

.mr-20 {
  margin-right: 20px;
}

@media only screen and (min-width: 1024px) {
  .mobile-only {
    display: none !important;
  }
}

@media only screen and (max-width: 1024px) {
  .desktop-only {
    display: none !important;
  }
}

.flex {
  display: flex;
}

.items-start {
  align-items: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.award-item__place {
  background: no-repeat url("/assets/img/icon/award-frame 1.jpg") center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 74px;
  min-height: 70px;
  color: #6645ea;
  margin-bottom: 12px;
}

.award-list > *:not(:last-child) {
  margin-bottom: 32px;
}

.service-list, .project-list {
  display: grid;
  gap: 32px;
}
.service-list > * > *, .project-list > * > * {
  width: 100%;
}

.thesis-card, .thesis-card--service {
  padding: 24px 16px;
  background: #fbfbfb;
  border-radius: 6px;
}
.thesis-card__item h2 {
  color: #6645ea;
  margin-bottom: 2px;
}
.thesis-card__item p {
  color: #383838;
}
.thesis-card__item:not(:last-child) {
  margin-bottom: 16px;
}
.thesis-card--service {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.thesis-card--service h4 {
  color: #6645ea;
}
.thesis-card--service p {
  color: #383838;
  margin: 4px 0 16px;
}

.project-card img {
  width: 100%;
}
.project-card__title {
  margin: 16px 0 6px;
}

.dotted-list li {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding-left: 26px;
}
.dotted-list li:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  left: 0;
  top: 10px;
  border-radius: 50%;
  background-color: #383838;
}
.dotted-list li:not(:last-child) {
  margin-bottom: 12px;
}

.review-block__author {
  margin-bottom: 24px;
}
.review-block__author-name {
  margin: 8px 0 4px;
}
.review-block__txt {
  font-size: 20px;
  line-height: 24px;
}
.review-block__txt img {
  display: none;
}

.grid-list {
  display: grid;
  gap: 40px;
}
.grid-list > * > * {
  width: 100%;
}

.contacts-page__all-news-btn {
  width: 100%;
  margin-top: 35px;
}

.img-thumbnail {
  color: #969696;
  margin-top: 12px;
}

.client-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.client-list li img {
  filter: grayscale(100%);
  opacity: 0.6;
}
.client-list li:hover img {
  filter: grayscale(0%);
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .award-item {
    display: flex;
    align-items: center;
  }
  .award-item__place {
    margin: 0 32px 0 0;
    min-width: 105px;
    min-height: 99px;
  }

  .award-list > *:not(:last-child) {
    margin-bottom: 40px;
  }

  .service-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  .client-list {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 70px;
  }

  .thesis-card.sticky, .sticky.thesis-card--service {
    position: sticky;
    top: 20px;
    left: 50%;
    right: 50%;
    bottom: 20px;
  }

  .contacts-page__all-news-btn {
    margin-top: 60px;
  }

  .grid-list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 60px;
  }

  .service-list, .project-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .project-card__title {
    margin-top: 20px;
  }

  .thesis-card, .thesis-card--service {
    padding: 40px;
  }
  .thesis-card__item:not(:last-child) {
    margin-bottom: 24px;
  }

  .dotted-list li:not(:last-child) {
    margin-bottom: 16px;
  }

  .review-block {
    display: flex;
    align-items: flex-start;
  }
  .review-block__author {
    flex-basis: 288px;
    margin-bottom: 0;
  }
  .review-block__author-name {
    margin: 24px 0 4px;
  }
  .review-block__txt {
    display: flex;
    align-items: flex-start;
    font-size: 31px;
    line-height: 40px;
    flex: 1;
    margin-left: 30px;
  }
  .review-block__txt img {
    display: initial;
    margin-right: 60px;
  }

  .img-thumbnail {
    margin-top: 24px;
  }
}
.header {
  position: relative;
}
.header__inner {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 102;
}
.header__logo {
  width: 83px;
}
.header .menu, .header__right {
  display: none;
}
.header__menu-mobile {
  position: fixed;
  z-index: 1000;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  background: #ffffff;
}
.header__menu-mobile ul {
  margin-bottom: 28px;
}
.header__menu-mobile ul li:not(:last-child) {
  margin-bottom: 20px;
}
.header__menu-mobile-footer {
  border-top: 1px solid #bbb8c4;
  padding-top: 24px;
  margin-top: 24px;
}
.header__menu-mobile-footer > *:not(:last-child) {
  margin-bottom: 16px;
}
.header__menu-mobile--hidden {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .header__logo {
    width: 160px;
  }
  .header__inner {
    padding: 30px 0 0;
    align-items: flex-start;
    justify-content: space-between;
  }
  .header__left {
    display: flex;
    align-items: flex-end;
  }
  .header__right {
    display: flex;
    align-items: center;
    padding-top: 12px;
  }
  .header__right .btn-header {
    margin-left: 50px;
  }
  .header .menu {
    display: initial;
    margin-left: 50px;
  }
  .header .menu > ul {
    display: flex;
    align-items: flex-end;
    gap: 50px;
  }
  .header .menu a:hover {
    color: #6645ea;
  }
  .header__menu-btn {
    display: none;
  }
  .header .dropdown {
    position: relative;
    cursor: pointer;
  }
  .header .dropdown__head {
    display: flex;
    align-items: center;
    transition: 0.5s;
    position: relative;
    z-index: 5;
  }
  .header .dropdown__head img {
    margin-left: 7px;
    transition: 0.5s;
    width: 12px;
    height: 7px;
  }
  .header .dropdown__content {
    position: absolute;
    top: -16px;
    left: -12px;
    right: -12px;
    height: 0;
    min-width: 120px;
    opacity: 0;
    overflow: hidden;
    background-color: #f4f6f6;
    transition: 0.5s;
    border-radius: 2px;
  }
  .header .dropdown__content-inner {
    padding: 50px 10px 16px 12px;
  }
  .header .dropdown ul > *:not(:last-child) {
    margin-bottom: 16px;
  }
  .header .dropdown:hover .dropdown__head {
    background-color: #f4f6f6;
  }
  .header .dropdown:hover img {
    transform: scaleY(-1);
  }
}

.hero {
  padding-top: 32px;
}
.hero__title > *:nth-child(3) {
  font-size: 48px;
  line-height: 51px;
}
.hero__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__icon {
  padding: 0 16px;
  font-size: 56px;
  color: #fff;
  background: #6645ea;
  margin-left: -16px;
  margin-right: 18px;
}
.hero__subtitle {
  color: #383838;
  margin-bottom: 32px;
}
@media only screen and (min-width: 1024px) {
  .hero {
    padding-top: 130px;
  }
  .hero__top {
    flex-direction: row;
    justify-content: space-between;
  }
  .hero__title > *:last-child {
    font-size: 110px;
    line-height: 130px;
  }
  .hero__icon {
    margin-right: 40px;
    position: relative;
    font-size: 110px;
    line-height: 130px;
  }
  .hero__icon:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: calc((100vw - 1000px) / 2);
    background: #6645ea;
    z-index: -1;
  }
  .hero__subtitle {
    margin-bottom: 0;
  }
  .hero__img {
    flex: 1;
    max-width: 423px;
  }
  .hero__img img {
    width: 100%;
  }
}

.footer {
  color: #ffffff;
  padding: 56px 0;
  background: #1f1f1f;
}
.footer__logo {
  margin-bottom: 32px;
}
.footer__logo img {
  max-width: 160px;
}
.footer__field-title {
  margin-bottom: 16px;
}
.footer__field--projects {
  margin: 40px 0 32px;
}
.footer__field ul li:not(:last-child) {
  margin-bottom: 8px;
}
.footer__socials {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.footer__socials > *:not(:last-child) {
  margin-right: 20px;
}
@media only screen and (min-width: 1024px) {
  .footer {
    padding: 60px 0 55px;
  }
  .footer__logo {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .footer__logo img {
    margin-bottom: auto;
  }
  .footer__inner {
    display: flex;
  }
  .footer__inner > * {
    flex: 1;
  }
  .footer__inner > *:first-child {
    margin-right: 153px;
  }
  .footer__field--projects {
    margin: 0;
  }
}

.contact-us {
  padding: 80px 0;
}
.contact-us__title {
  margin-bottom: 32px;
  color: #383838;
}
.contact-us .form {
  flex: 1;
}
.contact-us .form .form-field input, .contact-us .form .form-field textarea {
  color: #969696;
  background-color: #fbfbfb;
}
.contact-us .form .form-field:not(:last-child) {
  margin-bottom: 16px;
}
.contact-us .form .form-group:not(:last-child) {
  margin-bottom: 16px;
}
.contact-us .form input, .contact-us .form textarea {
  padding: 16px 8px 16px 16px;
  background: #ffffff;
}
.contact-us .form textarea {
  min-height: 150px;
  resize: none;
}
.contact-us .form .file {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px dashed #1f1f1f;
  padding: 18px 16px;
}
.contact-us .form .file img {
  margin-left: 13px;
}
.contact-us .form .file input {
  display: none;
}
.contact-us .form-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.contact-us .form-checkbox input {
  display: none;
  width: 24px;
  height: 24px;
}
.contact-us .form-checkbox label {
  color: #1f1f1f;
}
.contact-us .form-checkbox .checkmark {
  width: 24px;
  height: 24px;
  border: 1px solid #1f1f1f;
  margin-right: 15px;
}
.contact-us .form-checkbox .checkmark:after {
  background: no-repeat url("/assets/img/icon/Check.svg") center;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.contact-us .form-checkbox input:checked ~ .checkmark:after {
  content: "";
}
.contact-us .form__lower-left {
  margin: 16px 0 40px;
}
.contact-us__title {
  margin-bottom: 50px;
}
@media only screen and (min-width: 1024px) {
  .contact-us {
    padding: 190px 0 190px;
  }
  .contact-us__inner {
    display: flex;
  }
  .contact-us__inner > *:first-child {
    margin-right: 30px;
  }
  .contact-us .form input, .contact-us .form textarea {
    padding: 19px 20px;
  }
  .contact-us .form__lower {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .contact-us .form__lower-left {
    margin: 30px 0 0;
  }
  .contact-us .form-group {
    display: flex;
  }
  .contact-us .form-group > * {
    flex: 1;
  }
  .contact-us .form-group > *:not(:last-child) {
    margin-right: 30px;
  }
}

.news-section__header {
  margin-bottom: 32px;
}
.news-section__title {
  color: #383838;
}
.news-section .swiper-container {
  margin-bottom: 24px;
}
@media only screen and (min-width: 1024px) {
  .news-section__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .news-section .swiper-container {
    margin-bottom: 53px;
  }
}

.swiper-pagination {
  position: static !important;
  padding-top: 20px;
}

.news-section .swiper-button-prev,
.news-section .swiper-button-next {
  all: unset;
  cursor: pointer;
  margin: 0 20px;
}
.news-section .swiper-button-prev:after,
.news-section .swiper-button-next:after {
  content: none;
}

.swiper-container {
  overflow: hidden;
}

.news-section .swiper-window {
  max-width: 1170px;
  overflow: hidden;
  margin: 0 15px;
}

.swiper-index--max {
  color: #bbb8c4;
}

.swiper-button-prev {
  margin-right: 20px;
}
.swiper-button-next {
  margin-left: 20px;
}

.service-card {
  padding: 24px 8px 22px 16px;
  border-radius: 4px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 250px;
}
.service-card__title {
  margin-bottom: 8px;
}
.service-card__subtitle {
  color: #383838;
}
.service-card__price {
  color: #383838;
  margin-top: auto;
}
@media only screen and (min-width: 1024px) {
  .service-card__title {
    min-height: 68px;
  }
}

.news-card {
  border-radius: 6px;
  overflow: hidden;
  background-color: #ffffff;
}
.news-card__img img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.news-card__content {
  padding: 24px 16px 16px;
}
.news-card__content-head {
  display: flex;
  align-items: center;
}
.news-card__logo {
  border-right: 1px solid #969696;
  padding-right: 12px;
  margin-right: 12px;
}
.news-card__date {
  color: #969696;
}
.news-card__txt {
  margin: 12px 0 16px;
  min-height: 81px;
}
.news-card__tag {
  color: #6645ea;
}
.news-card--grey {
  background-color: #fbfbfb;
}

@media only screen and (min-width: 1024px) {
  .news-card__img img {
    width: 395px;
    height: 250px;
  }
  .news-card__content {
    padding: 32px 16px 16px 24px;
  }
  .news-card__txt {
    margin-top: 16px;
  }
}
.grey-news-cards .news-card {
  background-color: #fbfbfb !important;
}

.drop-item__header {
  cursor: pointer;
  position: relative;
}
.drop-item__header:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border: 2px solid #bbb8c4;
  background: no-repeat url("/assets/img/icon/arrowDown.svg") center #ffffff;
  border-radius: 50%;
}
.drop-item__content {
  overflow: hidden;
  height: 0;
  transition: height 0.3s;
}
.drop-item__content-inner {
  padding: 24px 0 32px;
}
.drop-item__title {
  margin-bottom: 8px;
}
.drop-item__subtitle {
  color: #969696;
}
.drop-item:not(:last-child) {
  border-bottom: 1px solid #bbb8c4;
}
.drop-item--active .drop-item__header:after {
  background-color: #6645ea;
  border-color: #6645ea;
  background-image: url("/assets/img/icon/arrow-up-white.png");
}
.drop-item--active .drop-item__content {
  position: static;
  opacity: 1;
  visibility: visible;
}
@media only screen and (min-width: 1024px) {
  .drop-item__header {
    padding: 60px 0;
    display: flex;
    align-items: center;
  }
  .drop-item__header:after {
    width: 80px;
    height: 80px;
  }
  .drop-item__content-inner {
    padding: 48px 0 60px;
  }
  .drop-item__title {
    margin-bottom: 0;
    margin-right: 97px;
    font-size: 31px;
    line-height: 40px;
  }
  .drop-item__subtitle {
    font-size: 20px;
    line-height: 27px;
  }
}

.step-item {
  position: relative;
  background-color: #f7f7f7;
  padding: 40px 16px 100px;
}
.step-item__title {
  margin-bottom: 8px;
  color: #383838;
}
.step-item:before {
  content: "";
  position: absolute;
  left: 16px;
  bottom: 40px;
  width: 94px;
  min-height: 56px;
  background: no-repeat url("/assets/img/icon/step-arrow.png") center center;
}
.step-item::after {
  position: absolute;
  right: 16px;
  bottom: 36px;
  color: #6645ea;
}
@media only screen and (min-width: 1024px) {
  .step-item {
    padding: 40px 41px 141px 40px;
  }
  .step-item__title {
    margin-bottom: 10px;
  }
  .step-item::before {
    width: 120px;
    min-height: 73.5px;
    left: 40px;
    bottom: 41.87px;
  }
  .step-item::after {
    right: 42px;
    bottom: 11px;
  }
}

.home .partners {
  padding: 32px 0 80px;
}
.home .partners .swiper-slide {
  max-width: 132px;
}
.home .services {
  background: #fbfbfb;
  padding: 100px 0;
}
.home .services__title {
  margin-bottom: 24px;
}
.home .service-list {
  margin-bottom: 40px;
}
.home .clients {
  padding: 80px 0;
}
.home .clients__title {
  margin-bottom: 32px;
  color: #383838;
}
.home .clients__review-list ul:not(:last-child) {
  margin-bottom: 32px;
}
.home .clients__review-list ul li:not(:last-child) {
  margin-bottom: 32px;
}
.home .clients .review-item {
  padding: 24px 16px;
  border-radius: 6px;
}
.home .clients .review-item * {
  color: #ffffff;
}
.home .clients .review-item p {
  font-size: 20px;
  line-height: 27px;
  margin: 16px 0 24px;
}
.home .clients .review-item__author {
  display: flex;
  align-items: center;
}
.home .clients .review-item__author img {
  margin-right: 24px;
}
.home .clients .review-item__author-name {
  margin-bottom: 4px;
}
.home .clients .review-item__author-title {
  font-weight: 400;
}
.home .clients .review-item--diksi {
  background: #06bbce;
}
.home .clients .review-item--bristol {
  background: #7a51ef;
}
.home .clients .review-item--mokka {
  background: #6645ea;
}
.home .clients .review-item--energogarant {
  background: #ccb0ff;
}
@media only screen and (min-width: 1024px) {
  .home .partners {
    padding: 129px 0 207px;
  }
  .home .partners .swiper-slide {
    max-width: none;
  }
  .home .services {
    background: #fbfbfb;
  }
  .home .services__title {
    margin-bottom: 50px;
  }
  .home .services .service-list {
    margin-bottom: 70px;
  }
  .home .services__footer {
    display: flex;
    justify-content: flex-end;
  }
  .home .clients {
    padding: 190px 0;
  }
  .home .clients__title {
    margin-bottom: 50px;
  }
  .home .clients__review-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .home .clients .review-item {
    padding: 40px;
  }
  .home .clients .review-item p {
    margin: 30px 0 56px;
  }
}

.projects {
  padding-bottom: 80px;
}
.projects__list {
  display: grid;
  gap: 40px;
  margin-bottom: 40px;
}
.projects__list li {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
}
.projects__list li img {
  width: 100%;
  min-height: 370px;
}
.projects .project-item {
  position: relative;
}
.projects .project-item__content {
  position: absolute;
  top: 24px;
  left: 16px;
  right: 16px;
}
.projects .project-item__title {
  margin-bottom: 6px;
  color: #ffffff;
}
.projects .project-item__subtitle {
  color: #fbfbfb;
}
.projects .project-item img {
  max-height: 642px;
  object-fit: cover;
}
@media only screen and (min-width: 1024px) {
  .projects__list {
    grid-template-columns: 500px 180px 500px;
    grid-template-rows: repeat(3, 640px);
    gap: 30px;
  }
  .projects__list a {
    width: 100%;
    height: 100%;
  }
  .projects__list > *:nth-child(1) {
    grid-column: 1/3;
  }
  .projects__list > *:nth-child(2) {
    grid-column: 3/-1;
  }
  .projects__list > *:nth-child(3) {
    grid-column: 1/2;
  }
  .projects__list > *:nth-child(4) {
    grid-column: 2/-1;
  }
  .projects__list > *:nth-child(5) {
    grid-column: 1/3;
  }
  .projects__list > *:nth-child(6) {
    grid-column: 3/-1;
  }
  .projects__list > *:nth-child(7) {
    grid-column: 1/3;
  }
  .projects__list .small {
    flex-basis: 499px;
  }
  .projects .project-item__content {
    top: 32px;
    left: 32px;
    right: 138px;
  }
}

.cases-page .tags-section {
  padding-bottom: 48px;
}
.cases-page .tags-section__title {
  font-size: 42px;
  margin: 16px 0 32px;
}
.cases-page .tags-section .tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.cases-page .tags-section .tag-list > li {
  flex-basis: auto;
}
.cases-page .projects__list {
  display: grid;
  gap: 40px;
  margin-bottom: 40px;
}
.cases-page .projects__list li img {
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .cases-page .tags-section {
    padding-bottom: 60px;
  }
  .cases-page .tags-section__title {
    font-size: 95px;
    margin: 100px 0 80px;
  }
}

.case-section {
  padding-top: 16px;
}
.case-section__title {
  margin-bottom: 8px;
}
.case-section__subtitle {
  max-width: 950px;
  margin-bottom: 32px;
}
.case-section__hero-img {
  margin-bottom: 32px;
}
.case-section__hero-img img {
  width: 100%;
}
.case-section__inner {
  padding-bottom: 80px;
}
.case-section__inner > *:first-child {
  margin-bottom: 56px;
}
.case-section .info-list > *:not(:last-child) {
  margin-bottom: 56px;
}
.case-section .info-list .info-item h2, .case-section .info-list .info-item h4 {
  margin-bottom: 12px;
}
.case-section .info-list .info-item h2 + h4 {
  margin-top: -4px;
}
.case-section .info-list .info-item ul li {
  display: flex;
  align-items: flex-start;
  color: #383838;
}
.case-section .info-list .info-item ul li:not(:last-child) {
  margin-bottom: 20px;
}
.case-section .info-list .info-item ul li p:first-child {
  margin-right: 10px;
}
.case-section .info-list .review-card, .case-section .info-list .review-card--img {
  margin-bottom: 26px;
}
.case-section .review-card, .case-section .review-card--img {
  margin: 26px 0;
  background: #f4f6f6;
  border-radius: 4px;
  padding: 24px 16px;
}
.case-section .review-card__author {
  margin: 24px 0 2px;
}
.case-section .review-card--img__footer {
  margin-top: 26px;
  display: flex;
  align-items: center;
}
.case-section .review-card--img img {
  margin-right: 30px;
}
.case-section .review-card--img__author {
  margin: 0 0 4px;
}
@media only screen and (min-width: 1024px) {
  .case-section {
    padding-top: 100px;
  }
  .case-section__inner {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    padding-bottom: 190px;
  }
  .case-section__inner > *:last-child {
    flex: 1;
    margin-right: 32px;
  }
  .case-section__inner > *:first-child {
    flex-basis: 391px;
    margin-bottom: 0;
  }
  .case-section .info-list > *:not(:last-child) {
    margin-bottom: 80px;
  }
  .case-section .info-list .info-item h2 {
    margin-bottom: 16px;
  }
  .case-section .info-list .info-item h4 {
    margin-bottom: 16px;
  }
  .case-section .info-list .review-card, .case-section .info-list .review-card--img {
    margin: 40px 0 50px;
  }
  .case-section__title {
    margin-bottom: 14px;
  }
  .case-section__hero-img {
    margin-bottom: 60px;
  }
}

.services-page {
  padding-top: 24px;
}
.services-page .service-list {
  display: grid;
  gap: 32px;
}
@media only screen and (min-width: 768px) {
  .services-page {
    padding-top: 50px;
  }
  .services-page .service-list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 29px;
    row-gap: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  .services-page {
    padding-top: 100px;
  }
  .services-page .service-list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 29px;
    row-gap: 30px;
  }
}

.toggle-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 32px 0 48px;
}
@media only screen and (min-width: 768px) {
  .toggle-list {
    margin: 80px 0 60px;
  }
}
@media only screen and (min-width: 1024px) {
  .toggle-list {
    gap: 30px;
  }
}

.service-page {
  padding-top: 24px;
}
.service-page .tag-list {
  display: flex;
  gap: 20px;
  color: #969696;
  margin: 16px 0 24px;
}
.service-page .project-list {
  padding-bottom: 80px;
}
.service-page__inner {
  margin-bottom: 80px;
}
.service-page__inner > *:last-child {
  margin-top: 32px;
}
.service-page .list-title {
  margin-bottom: 32px;
}
@media only screen and (min-width: 1024px) {
  .service-page {
    padding-top: 100px;
  }
  .service-page .tag-list {
    margin: 10px 0 50px;
  }
  .service-page__inner {
    display: flex;
    align-items: flex-start;
    margin-bottom: 180px;
  }
  .service-page__inner > *:last-child {
    margin-top: 0;
    margin-left: 30px;
  }
  .service-page .project-list {
    row-gap: 40px;
    padding-bottom: 180px;
  }
  .service-page .list-title {
    margin-bottom: 50px;
  }
}

.flutter-page {
  background-color: #ffffff;
}
.flutter-page .hero {
  padding: 24px 0 64px;
}
.flutter-page .hero .flutter-page-hero__subtitle {
  font-size: 34px;
  line-height: 41px;
  font-weight: 400;
  margin: 6px 0 20px;
}
.flutter-page .intro {
  padding: 64px 0;
  background: no-repeat #fbfbfb url("/assets/img/flutter/into-bg-mobile.png") bottom right;
}
.flutter-page .intro__colored-span {
  color: #ccb0ff;
  margin: 48px 0 12px;
}
.flutter-page .experience-section {
  padding: 80px 0;
}
.flutter-page .experience-section .look-at-jobs-banner {
  color: #ffffff;
  border-radius: 4px;
  padding: 33px 16px 32px;
  background-color: #6645ea;
}
.flutter-page .experience-section .look-at-jobs-banner .h4, .flutter-page .experience-section .look-at-jobs-banner .h4--regular, .flutter-page .experience-section .look-at-jobs-banner .award-item__place, .flutter-page .experience-section .look-at-jobs-banner .thesis-card--service h4, .thesis-card--service .flutter-page .experience-section .look-at-jobs-banner h4 {
  margin-bottom: 16px;
}
.flutter-page .experience-section .look-at-jobs-banner .btn-2 {
  color: #ffffff;
  border-color: #ffffff;
}
.flutter-page .experience-section .look-at-jobs-banner .btn-2 svg > * {
  fill: #ffffff;
}
.flutter-page .experience-section__project-list {
  padding-top: 56px;
  padding-bottom: 42px;
}
.flutter-page .experience-section__project-list > *:not(:last-child) {
  margin-bottom: 56px;
}
.flutter-page .experience-section__item img {
  margin: 24px 0;
  width: 100%;
}
.flutter-page .experience-section__item a {
  color: #6645ea;
  margin-top: 16px;
}
.flutter-page .news-section__inner {
  padding: 64px 0;
  background-color: #fbfbfb;
}
.flutter-page .news-section__uptitle {
  margin-bottom: 40px;
}
@media only screen and (min-width: 1024px) {
  .flutter-page .hero {
    padding: 100px 0;
  }
  .flutter-page .hero .flutter-page-hero__subtitle {
    margin: 8px 0 40px;
    font-size: 70px;
    line-height: 82px;
  }
  .flutter-page .intro {
    padding: 120px 0 130px;
    background-image: url("/assets/img/flutter/intro-bg-desktop.png");
  }
  .flutter-page .intro__colored-span {
    margin: 100px 0 20px;
  }
  .flutter-page .experience-section {
    padding: 190px 0;
  }
  .flutter-page .experience-section__project-list {
    max-width: 817px;
    padding-top: 77px;
    padding-bottom: 70px;
  }
  .flutter-page .experience-section__project-list > *:not(:last-child) {
    margin-bottom: 100px;
  }
  .flutter-page .experience-section__item img {
    margin: 32px 0;
  }
  .flutter-page .experience-section__item a {
    margin-top: 32px;
  }
  .flutter-page .experience-section .look-at-jobs-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 71px 106px;
  }
  .flutter-page .news-section__inner {
    padding: 100px 0;
  }
  .flutter-page .news-section__uptitle {
    margin-bottom: 100px;
  }
}

.company-page__img-thumbnail {
  color: #969696;
  margin-top: 12px;
}
.company-page__title {
  margin-bottom: 16px;
}
.company-page__list {
  padding: 32px 0 80px;
}
.company-page__list > *:not(:last-child) {
  margin-bottom: 64px;
}
.company-page__list > * .sub2--bold, .company-page__list > * .company-page .member-item__name, .company-page .company-page__list > * .member-item__name, .company-page__list > * .thesis-card--service p, .thesis-card--service .company-page__list > * p, .company-page__list > * .service-card__title, .company-page__list > * .drop-item__title, .company-page__list > * .step-item__title {
  color: #969696;
  margin-bottom: 8px;
}
.company-page__list > * .h4--regular {
  margin-bottom: 12px;
}
.company-page__member-list {
  padding-bottom: 80px;
}
.company-page__member-list ul {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 24px;
}
.company-page .member-item__name {
  margin: 10px 0 2px;
}
.company-page .member-item__title {
  color: #969696;
}
.company-page .member-item--etc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  text-align: center;
  padding: 0 30px;
  row-gap: 8px;
}
.company-page .member-item--etc h3 {
  color: #6645ea;
}
.company-page .section-awards {
  padding: 64px 0;
  margin-bottom: 80px;
  background-color: #6645ea;
}
.company-page .section-awards * {
  color: #ffffff;
}
.company-page .section-awards__list {
  padding-top: 24px;
  display: grid;
  row-gap: 32px;
}
.company-page .section-awards__item img {
  margin-bottom: 12px;
  max-width: 93px;
}
.company-page .section-awards__item a {
  color: #06bbce;
  text-decoration: underline;
}
.company-page .section-clients {
  padding-top: 80px;
}
.company-page .section-clients ul {
  padding: 32px 0 89px;
}
.company-page .section-coop {
  background-color: #fbfbfb;
}
@media only screen and (min-width: 768px) {
  .company-page__img-thumbnail {
    margin-top: 24px;
  }
  .company-page__member-list ul {
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 60px;
  }
  .company-page .section-awards {
    padding: 100px 0;
    margin-bottom: 130px;
  }
  .company-page .section-awards__list {
    padding-top: 60px;
    column-gap: 32px;
    grid-template-columns: repeat(3, 1fr);
  }
  .company-page .section-awards__item img {
    max-width: 221px;
    margin: 0 auto 50px;
  }
  .company-page .section-clients ul {
    padding: 60px 0 190px;
  }
}
@media only screen and (min-width: 1024px) {
  .company-page__title {
    margin-bottom: 40px;
  }
  .company-page__list {
    padding: 60px 0 190px;
  }
  .company-page__list > *:not(:last-child) {
    margin-bottom: 110px;
  }
  .company-page__list > * .h4--regular {
    margin-bottom: 16px;
  }
  .company-page__member-list {
    padding-bottom: 190px;
  }
  .company-page__member-list ul {
    margin-top: 50px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 60px;
  }
  .company-page .member-item h2 {
    margin: 20px 0 6px;
  }
  .company-page .section-awards {
    margin-bottom: 190px;
  }
  .company-page .section-clients {
    padding-top: 190px;
  }
}

.look-at-jobs-banner {
  padding: 64px 0;
}
.look-at-jobs-banner h3 {
  color: #6645ea;
  margin-bottom: 24px;
}
@media only screen and (min-width: 1024px) {
  .look-at-jobs-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
  }
  .look-at-jobs-banner h3 {
    margin-bottom: 0;
  }
}

.contacts-page .contact-list {
  padding: 24px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.contacts-page .office-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.contacts-page .office-item img {
  width: 100%;
  margin-bottom: 16px;
}
.contacts-page .office-item__address {
  padding: 10px 0 8px;
}
.contacts-page .office-item__address, .contacts-page .office-item__phone {
  color: #383838;
}
@media only screen and (min-width: 1024px) {
  .contacts-page .contact-list {
    gap: 0;
    flex-direction: row;
    padding: 100px 0 110px;
    justify-content: space-between;
  }
  .contacts-page .office-item img {
    margin-bottom: 24px;
  }
  .contacts-page .office-item__address {
    padding: 12px 0 8px;
  }
  .contacts-page .office-list {
    flex-direction: row;
    gap: 30px;
  }
  .contacts-page .office-list li {
    flex: 1;
  }
}

.career-page {
  counter-reset: count;
}
.career-page__title {
  margin-bottom: 32px;
}
.career-page .section-internship {
  padding: 80px 0;
}
.career-page .section-internship .step-item {
  min-height: 100%;
}
.career-page .section-internship .step-item:after {
  counter-increment: count;
  content: counter(count);
}
.career-page .section-internship ul {
  margin-bottom: 32px;
}
.career-page .section-dropdowns .drop-item:not(:first-child):not(:last-child) {
  border-top: 1px solid #bbb8c4;
  border-bottom: 1px solid #bbb8c4;
}
.career-page .section-dropdowns .drop-item .dotted-list li:not(:last-child) {
  margin-bottom: 12px;
}
.career-page .section-dropdowns .drop-item .dotted-list__title {
  margin-bottom: 14px;
}
.career-page .section-dropdowns .drop-item__content-inner {
  max-width: 819px;
  margin-left: auto;
}
.career-page .section-dropdowns .drop-item__content-item:not(:last-child) {
  margin-bottom: 32px;
}
.career-page .section-dropdowns .drop-item .contact-us {
  padding: 0;
}
.career-page .section-reviews {
  position: relative;
  padding: 64px 0;
}
.career-page .section-reviews ul li:not(:last-child) {
  margin-bottom: 48px;
}
.career-page .section-reviews .container {
  position: relative;
}
.career-page .section-reviews:before {
  content: "";
  background: no-repeat url("/assets/img/logo-bg-reviews-mobile.png") center;
  position: absolute;
  left: 16px;
  top: 31px;
  right: 0;
  min-height: 335px;
}
.career-page .img-swiper-item {
  position: relative;
}
.career-page .img-swiper-item__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 16px;
  color: #ffffff;
}
.career-page .img-swiper-item__content h2 {
  font-size: 22px;
  line-height: 27px;
}
@media only screen and (min-width: 1024px) {
  .career-page__title {
    margin-bottom: 60px;
  }
  .career-page .section-internship {
    padding: 190px 0;
  }
  .career-page .section-internship ul {
    margin-bottom: 70px;
  }
  .career-page .img-swiper-item__content {
    bottom: 70px;
  }
  .career-page .img-swiper-item__content h2 {
    font-size: 49px;
    line-height: 59px;
  }
  .career-page .section-reviews {
    padding: 100px 0;
  }
  .career-page .section-reviews ul li:not(:last-child) {
    margin-bottom: 130px;
  }
  .career-page .section-reviews:before {
    background-image: url("/assets/img/logo-bg-reviews-desktop.png");
    right: 180px;
    left: unset;
    min-height: 995px;
    min-width: 816px;
  }
  .career-page .section-dropdowns .drop-item:not(:first-child):not(:last-child) {
    border-top: 1px solid #bbb8c4;
    border-bottom: 1px solid #bbb8c4;
  }
  .career-page .section-dropdowns .drop-item .dotted-list li:not(:last-child) {
    margin-bottom: 16px;
  }
  .career-page .section-dropdowns .drop-item .dotted-list__title {
    margin-bottom: 24px;
  }
  .career-page .section-dropdowns .drop-item__content-item:not(:last-child) {
    margin-bottom: 48px;
  }
}

.finchess-page__title {
  margin-bottom: 19px;
}
.finchess-page__list {
  padding: 80px 0;
}
.finchess-page__list > * .sub2--bold, .finchess-page__list > * .thesis-card--service p, .thesis-card--service .finchess-page__list > * p, .finchess-page__list > * .service-card__title, .finchess-page__list > * .drop-item__title, .finchess-page__list > * .step-item__title, .finchess-page__list > * .company-page .member-item__name, .company-page .finchess-page__list > * .member-item__name {
  margin-bottom: 8px;
}
.finchess-page__list > * .h4--regular {
  margin-bottom: 12px;
}
.finchess-page__list > *:not(:last-child) {
  margin-bottom: 72px;
}
.finchess-page .client-list {
  padding-top: 32px;
}
.finchess-page .img-grid {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 57px;
}
.finchess-page .img-grid > * {
  flex: 1;
}
.finchess-page .img-grid > *:not(:last-child) {
  margin-top: 32px;
}
.finchess-page__img-list {
  margin: 32px 0;
}
.finchess-page__img-list > *:last-child {
  margin-top: 20px;
}
.finchess-page__reviews {
  margin-top: 57px;
}
.finchess-page__reviews > *:not(:last-child) {
  margin-bottom: 49px;
}
@media only screen and (min-width: 1024px) {
  .finchess-page__title {
    margin-bottom: 40px;
  }
  .finchess-page__list {
    padding: 160px 0 190px;
  }
  .finchess-page__list > * .h4--regular {
    margin-bottom: 16px;
  }
  .finchess-page__list > *:not(:last-child) {
    margin-bottom: 160px;
  }
  .finchess-page .client-list {
    padding-top: 60px;
  }
  .finchess-page__reviews > *:not(:last-child) {
    margin-bottom: 80px;
  }
  .finchess-page .img-grid {
    margin-bottom: 90px;
  }
  .finchess-page__img-list {
    display: flex;
    align-items: flex-start;
    margin: 40px 0 70px;
  }
  .finchess-page__img-list > *:first-child {
    margin-top: 80px;
    margin-right: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
