.link {
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
  color: #6645ea;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}

.h1 {
  font-size: 56px;
  line-height: 68px;
}

.h2 {
  font-size: 42px;
  line-height: 51px;
}

.h3 {
  font-size: 34px;
  line-height: 41px;
}

.h4, .award-item__place, .h4--regular {
  font-size: 27px;
  line-height: 33px;
  font-weight: 700;
}
.h4--regular {
  font-weight: 400;
}

.sub1, .sub1--bold, .projects .project-item__title, .btn-tertiary {
  font-size: 22px;
  line-height: 27px;
}
.sub1--bold, .projects .project-item__title, .btn-tertiary {
  font-weight: 700;
}

.sub2, .sub2--bold {
  font-size: 20px;
  line-height: 24px;
}
.sub2--bold {
  font-weight: 700;
}

.body1, .projects .project-item__subtitle, .home .news-section .news-cart__content, .swiper-index, .contact-us .form .file, .contact-us .form input, .contact-us .form textarea, .footer__field, .btn-tag, .btn-tag--hover, p, .body1--semibold, .case-section .review-card__author, .btn-2, .btn-primary {
  font-size: 16px;
  line-height: 21px;
}
.body1--semibold, .case-section .review-card__author, .btn-2, .btn-primary {
  font-weight: 600;
}

.body2, .home .news-section .news-cart__tag, .home .news-section .news-cart__date, .contact-us .form-checkbox label, .footer__field ul, .header .menu, .body2--semibold, .btn-header {
  font-size: 14px;
  line-height: 19px;
}
.body2--semibold, .btn-header {
  font-weight: 600;
}

@media only screen and (min-width: 1024px) {
  .h1 {
    font-size: 110px;
    line-height: 130px;
  }

  .h2 {
    font-size: 95px;
    line-height: 105px;
  }

  .h3 {
    font-size: 70px;
    line-height: 82px;
  }

  .h4, .award-item__place, .h4--regular {
    font-size: 49px;
    line-height: 59px;
  }

  .sub1, .sub1--bold, .projects .project-item__title, .btn-tertiary {
    font-size: 31px;
    line-height: 40px;
  }

  .sub2, .sub2--bold {
    font-size: 25px;
    line-height: 34px;
  }

  .body1, .projects .project-item__subtitle, .home .news-section .news-cart__content, .swiper-index, .contact-us .form .file, .contact-us .form input, .contact-us .form textarea, .footer__field, .btn-tag, .btn-tag--hover, p, .body1--semibold, .case-section .review-card__author, .btn-2, .btn-primary {
    font-size: 20px;
    line-height: 27px;
  }

  .body2, .home .news-section .news-cart__tag, .home .news-section .news-cart__date, .contact-us .form-checkbox label, .footer__field ul, .header .menu, .body2--semibold, .btn-header {
    font-size: 16px;
    line-height: 22px;
  }
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
}

title, script {
  display: none;
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("/assets/fonts/Proxima-Nova/ProximaNova-Regular.eot");
  src: url("/assets/fonts/Proxima-Nova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Proxima-Nova/ProximaNova-Regular.woff") format("woff"), url("/assets/fonts/Proxima-Nova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 14px;
  font-family: "Proxima Nova Regular", "Arial", sans-serif;
  color: #1f1f1f;
  background-color: #fbfbfb;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  display: block;
  text-decoration: none;
}

p {
  color: #383838;
}

img {
  max-width: 100%;
  object-fit: contain;
}

input,
button, textarea {
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

input, textarea {
  color: inherit;
  width: 100%;
}

button {
  cursor: pointer;
  background: none;
}

.container {
  max-width: 1274px;
  margin: 0 auto;
  padding: 0 16px;
}

.body--fixed {
  overflow: hidden;
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17.5px 0;
  color: #6645ea;
  background: #ffffff;
  border: 2px solid #6645ea;
  border-radius: 6px;
}
.btn-primary:hover {
  background: #6645ea;
  color: #ffffff;
}

.btn-tag, .btn-tag--hover {
  padding: 6px 16px;
  border: 1px solid #d1d1d1;
  border-radius: 24px;
  transition: 0.3s;
}
.btn-tag:hover, .btn-tag--hover:hover {
  border-color: #383838;
  background: #383838;
  color: #ffffff;
}
.btn-tag--hover {
  border-color: #383838 !important;
  background: #383838 !important;
  color: #ffffff !important;
}

.btn-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 32px;
  max-height: 50px;
  color: #6645ea;
  border: 2px solid #6645ea;
  border-radius: 6px;
  transition: 0.3s;
}
.btn-header svg {
  margin-left: 12px;
}
.btn-header svg > * {
  transition: 0.3s;
}
.btn-header:hover {
  color: #ffffff;
  background: #6645ea;
}
.btn-header:hover > svg > * {
  fill: #ffffff;
}

.btn-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 32px;
  max-height: 50px;
  color: #6645ea;
  border: 2px solid #6645ea;
  border-radius: 6px;
  transition: 0.3s;
}
.btn-2 svg {
  margin-left: 12px;
}
.btn-2 svg > * {
  transition: 0.3s;
}
.btn-2:hover {
  color: #ffffff;
  background: #6645ea;
}
.btn-2:hover > svg > * {
  fill: #ffffff;
}

.btn-tertiary {
  color: #6645ea;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-tertiary svg {
  margin-left: 16px;
  transition: 0.3s;
}
.btn-tertiary:hover > svg {
  transform: translateX(8px);
}

.btn-tag, .btn-tag--hover {
  border: 1px solid #bbb8c4;
  border-radius: 24px;
  background: #ffffff;
  color: #1f1f1f;
  padding: 8px 24px;
  transition: 0.3s;
}
.btn-tag:hover, .btn-tag--hover:hover {
  background: #1f1f1f;
  color: #ffffff;
}

.btn-primary,
.btn-tag,
.btn-tag--hover,
.btn-header,
.btn-primary {
  width: 100%;
}
@media only screen and (min-width: 500px) {
  .btn-primary,
.btn-tag,
.btn-tag--hover,
.btn-header,
.btn-primary {
    width: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .btn-tag, .btn-tag--hover {
    padding: 8px 24px;
  }
  .btn-tag:hover, .btn-tag--hover:hover {
    border-color: #1f1f1f;
    background: #1f1f1f;
    color: #ffffff;
  }

  .btn-2 {
    padding: 16px 32px 17px;
  }
}
.txt-center {
  text-align: center;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.block {
  display: block;
  width: 100%;
}

.opacity-600 {
  opacity: 0.6;
}

.opacity-400 {
  opacity: 0.4;
}

.mr-20 {
  margin-right: 20px;
}

@media only screen and (min-width: 1024px) {
  .mobile-only {
    display: none !important;
  }
}

@media only screen and (max-width: 1024px) {
  .desktop-only {
    display: none !important;
  }
}

.flex {
  display: flex;
}

.items-start {
  align-items: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.award-item__place {
  background: no-repeat url("../../img/icon/award-frame 1.jpg") center;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 74px;
  min-height: 70px;
  color: #6645ea;
  margin-bottom: 12px;
}

.award-list > *:not(:last-child) {
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .award-item {
    display: flex;
    align-items: center;
  }
  .award-item__place {
    margin: 0 32px 0 0;
    min-width: 105px;
    min-height: 99px;
  }

  .award-list > *:not(:last-child) {
    margin-bottom: 40px;
  }
}
.header {
  position: relative;
}
.header__inner {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 102;
}
.header__logo {
  width: 83px;
}
.header .menu, .header__right {
  display: none;
}
.header__menu-mobile {
  position: fixed;
  z-index: 1000;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  background: #ffffff;
}
.header__menu-mobile ul {
  margin-bottom: 28px;
}
.header__menu-mobile ul li:not(:last-child) {
  margin-bottom: 20px;
}
.header__menu-mobile-footer {
  border-top: 1px solid #bbb8c4;
  padding-top: 24px;
  margin-top: 24px;
}
.header__menu-mobile-footer > *:not(:last-child) {
  margin-bottom: 16px;
}
.header__menu-mobile--hidden {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .header__logo {
    width: 160px;
  }
  .header__inner {
    padding: 30px 0 0;
    align-items: flex-start;
    justify-content: space-between;
  }
  .header__left {
    display: flex;
    align-items: flex-end;
  }
  .header__right {
    display: flex;
    align-items: center;
    padding-top: 12px;
  }
  .header__right .btn-header {
    margin-left: 50px;
  }
  .header .menu {
    display: initial;
  }
  .header__menu-btn {
    display: none;
  }
  .header .menu {
    margin-left: 50px;
  }
  .header .menu > ul {
    display: flex;
    align-items: flex-end;
    gap: 50px;
  }
  .header .dropdown {
    position: relative;
    cursor: pointer;
  }
  .header .dropdown__head {
    display: flex;
    align-items: center;
    transition: 0.5s;
    position: relative;
    z-index: 5;
  }
  .header .dropdown__head img {
    margin-left: 7px;
    transition: 0.5s;
    width: 12px;
    height: 7px;
  }
  .header .dropdown__content {
    position: absolute;
    top: -16px;
    left: -12px;
    right: -12px;
    height: 0;
    min-width: 120px;
    opacity: 0;
    overflow: hidden;
    background-color: #f4f6f6;
    transition: 0.5s;
    border-radius: 2px;
  }
  .header .dropdown__content-inner {
    padding: 50px 10px 16px 12px;
  }
  .header .dropdown ul > *:not(:last-child) {
    margin-bottom: 16px;
  }
  .header .dropdown:hover .dropdown__head {
    background-color: #f4f6f6;
  }
  .header .dropdown:hover img {
    transform: scaleY(-1);
  }
}

.hero {
  padding: 32px 0;
}
.hero__title > *:nth-child(3) {
  font-size: 48px;
  line-height: 51px;
}
.hero__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__icon {
  padding: 0 16px;
  font-size: 56px;
  color: #fff;
  background: #6645ea;
  margin-left: -16px;
  margin-right: 18px;
}
.hero__subtitle {
  color: #383838;
  margin-bottom: 32px;
}
@media only screen and (min-width: 1024px) {
  .hero {
    padding-bottom: 130px;
  }
  .hero__top {
    flex-direction: row;
  }
  .hero__title > *:last-child {
    font-size: 110px;
    line-height: 130px;
  }
  .hero__icon {
    margin-right: 40px;
    position: relative;
    font-size: 110px;
    line-height: 130px;
  }
  .hero__icon:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: calc((100vw - 1000px) / 2);
    background: #6645ea;
    z-index: -1;
  }
  .hero__subtitle {
    margin-bottom: 0;
  }
  .hero__img {
    flex: 1;
    max-width: 423px;
    margin-left: 103px;
  }
  .hero__img img {
    width: 100%;
  }
}

.footer {
  color: #ffffff;
  padding: 56px 0;
  background: #1f1f1f;
}
.footer__logo {
  margin-bottom: 32px;
}
.footer__logo img {
  max-width: 160px;
}
.footer__field-title {
  margin-bottom: 16px;
}
.footer__field--projects {
  margin: 40px 0 32px;
}
.footer__field ul li:not(:last-child) {
  margin-bottom: 8px;
}
.footer__socials {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.footer__socials > *:not(:last-child) {
  margin-right: 20px;
}
@media only screen and (min-width: 1024px) {
  .footer {
    padding: 60px 0 55px;
  }
  .footer__logo {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .footer__logo img {
    margin-bottom: auto;
  }
  .footer__inner {
    display: flex;
  }
  .footer__inner > * {
    flex: 1;
  }
  .footer__field--projects {
    margin: 0;
  }
}

.contact-us {
  padding: 80px 0;
}
.contact-us__title {
  margin-bottom: 32px;
  color: #383838;
}
.contact-us .form {
  flex: 1;
}
.contact-us .form .form-field input, .contact-us .form .form-field textarea {
  color: #969696;
}
.contact-us .form .form-field:not(:last-child) {
  margin-bottom: 16px;
}
.contact-us .form input, .contact-us .form textarea {
  padding: 16px 8px 16px 16px;
  background: #ffffff;
}
.contact-us .form textarea {
  min-height: 150px;
  resize: none;
}
.contact-us .form .file {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px dashed #1f1f1f;
  padding: 18px 16px;
}
.contact-us .form .file img {
  margin-left: 13px;
}
.contact-us .form .file input {
  display: none;
}
.contact-us .form-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.contact-us .form-checkbox input {
  display: none;
  width: 24px;
  height: 24px;
}
.contact-us .form-checkbox label {
  color: #1f1f1f;
}
.contact-us .form-checkbox .checkmark {
  width: 24px;
  height: 24px;
  border: 1px solid #1f1f1f;
  margin-right: 15px;
}
.contact-us .form-checkbox .checkmark:after {
  background: no-repeat url("../../img/icon/Check.svg") center;
  width: 100%;
  height: 100%;
}
.contact-us .form-checkbox input:checked ~ .checkmark:after {
  content: "";
}
.contact-us .form__lower-left {
  margin: 16px 0 40px;
}
.contact-us__title {
  margin-bottom: 50px;
}
@media only screen and (min-width: 1024px) {
  .contact-us {
    padding: 190px 0 190px;
  }
  .contact-us__inner {
    display: flex;
  }
  .contact-us__inner > *:first-child {
    margin-right: 30px;
  }
  .contact-us .form input, .contact-us .form textarea {
    padding: 19px 20px;
  }
  .contact-us .form__lower {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .contact-us .form__lower-left {
    margin: 30px 0 0;
  }
}

.swiper-pagination {
  position: static !important;
  padding-top: 20px;
}

.home .swiper-button-prev,
.home .swiper-button-next {
  all: unset;
  cursor: pointer;
  margin: 0 20px;
}
.home .swiper-button-prev:after,
.home .swiper-button-next:after {
  content: none;
}

.swiper-container {
  overflow: hidden;
}

.home .swiper-window {
  max-width: 1170px;
  overflow: hidden;
  margin: 0 15px;
}

.swiper-index--max {
  color: #bbb8c4;
}

.swiper-button-prev {
  margin-right: 20px;
}
.swiper-button-next {
  margin-left: 20px;
}

.service-card {
  padding: 24px 8px 22px 16px;
  border-radius: 4px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 250px;
}
.service-card__title {
  margin-bottom: 8px;
  font-size: 25px;
  line-height: 34px;
}
.service-card__subtitle {
  font-size: 20px;
  line-height: 27px;
}
.service-card__price {
  margin-top: auto;
}
@media only screen and (min-width: 1024px) {
  .service-card__title {
    min-height: 68px;
  }
}

.home .partners {
  padding-bottom: 40px;
}
.home .partners .swiper-slide {
  max-width: 132px;
}
.home .services {
  background: #fbfbfb;
  padding: 100px 0;
}
.home .services__title {
  margin-bottom: 24px;
}
.home .service-list {
  display: grid;
  gap: 32px;
  margin-bottom: 40px;
}
.home .clients {
  padding: 80px 0;
}
.home .clients__title {
  margin-bottom: 32px;
  color: #383838;
}
.home .clients__review-list ul:not(:last-child) {
  margin-bottom: 32px;
}
.home .clients__review-list ul li:not(:last-child) {
  margin-bottom: 32px;
}
.home .clients .review-item {
  padding: 24px 16px;
  border-radius: 6px;
}
.home .clients .review-item * {
  color: #ffffff;
}
.home .clients .review-item p {
  font-size: 20px;
  line-height: 27px;
  margin: 16px 0 24px;
}
.home .clients .review-item__author {
  display: flex;
  align-items: center;
}
.home .clients .review-item__author img {
  margin-right: 24px;
}
.home .clients .review-item__author-name {
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
  margin-bottom: 4px;
}
.home .clients .review-item__author-title {
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
}
.home .clients .review-item--diksi {
  background: #06bbce;
}
.home .clients .review-item--bristol {
  background: #7a51ef;
}
.home .clients .review-item--mokka {
  background: #6645ea;
}
.home .clients .review-item--energogarant {
  background: #a97aff;
}
.home .news-section__header {
  margin-bottom: 32px;
}
.home .news-section__title {
  color: #383838;
}
.home .news-section .news-list {
  display: grid;
  grid-template-columns: 240px;
}
.home .news-section .news-cart {
  border-radius: 6px;
  overflow: hidden;
}
.home .news-section .news-cart__img img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.home .news-section .news-cart__content {
  background: #fbfbfb;
  padding: 24px 16px 16px;
}
.home .news-section .news-cart__content-head {
  display: flex;
  align-items: center;
}
.home .news-section .news-cart__logo {
  border-right: 1px solid #969696;
  padding-right: 12px;
  margin-right: 12px;
}
.home .news-section .news-cart__date {
  color: #969696;
}
.home .news-section .news-cart__txt {
  margin: 12px 0 16px;
  min-height: 81px;
}
.home .news-section .news-cart__tag {
  color: #6645ea;
}
@media only screen and (min-width: 1024px) {
  .home .partners {
    padding-bottom: 80px;
  }
  .home .partners .swiper-slide {
    max-width: none;
  }
  .home .services {
    background: #fbfbfb;
  }
  .home .services__title {
    margin-bottom: 50px;
  }
  .home .services .service-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 70px;
  }
  .home .services__footer {
    display: flex;
    justify-content: flex-end;
  }
  .home .clients {
    padding: 190px 0;
  }
  .home .clients__review-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .home .clients .review-item {
    padding: 40px;
  }
  .home .clients .review-item p {
    margin: 30px 0 56px;
  }
  .home .news-section__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .home .news-section .news-cart__img img {
    width: 395px;
    height: 250px;
  }
}

.projects {
  padding-bottom: 80px;
}
.projects__list {
  display: grid;
  gap: 40px;
  margin-bottom: 40px;
}
.projects__list li {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
}
.projects__list li img {
  width: 100%;
  min-height: 370px;
}
.projects .project-item {
  position: relative;
}
.projects .project-item__content {
  position: absolute;
  top: 24px;
  left: 16px;
  right: 16px;
}
.projects .project-item__title {
  margin-bottom: 6px;
  color: #ffffff;
}
.projects .project-item__subtitle {
  color: #fbfbfb;
}
.projects .project-item img {
  max-height: 642px;
  object-fit: cover;
}
@media only screen and (min-width: 1024px) {
  .projects__list {
    grid-template-columns: 500px 180px 500px;
    grid-template-rows: repeat(3, 640px);
    gap: 30px;
  }
  .projects__list a {
    width: 100%;
    height: 100%;
  }
  .projects__list > *:nth-child(1) {
    grid-column: 1/3;
  }
  .projects__list > *:nth-child(2) {
    grid-column: 3/-1;
  }
  .projects__list > *:nth-child(3) {
    grid-column: 1/2;
  }
  .projects__list > *:nth-child(4) {
    grid-column: 2/-1;
  }
  .projects__list > *:nth-child(5) {
    grid-column: 1/3;
  }
  .projects__list > *:nth-child(6) {
    grid-column: 3/-1;
  }
  .projects__list > *:nth-child(7) {
    grid-column: 1/3;
  }
  .projects__list .small {
    flex-basis: 499px;
  }
  .projects .project-item__content {
    top: 32px;
    left: 32px;
    right: 138px;
  }
}

.cases-page .tags-section {
  padding-bottom: 48px;
}
.cases-page .tags-section__title {
  font-size: 42px;
  margin: 16px 0 32px;
}
.cases-page .tags-section .tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.cases-page .tags-section .tag-list > li {
  flex-basis: auto;
}
.cases-page .projects__list {
  display: grid;
  gap: 40px;
  margin-bottom: 40px;
}
.cases-page .projects__list li img {
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .cases-page .tags-section {
    padding-bottom: 60px;
  }
  .cases-page .tags-section__title {
    font-size: 95px;
    margin: 100px 0 80px;
  }
}

.case-section {
  padding-top: 16px;
}
.case-section__title {
  margin-bottom: 8px;
}
.case-section__hero-img {
  margin-bottom: 32px;
}
.case-section__hero-img img {
  width: 100%;
}
.case-section .thesis-card {
  padding: 24px 16px;
  background: #fbfbfb;
  border-radius: 6px;
  margin-bottom: 56px;
}
.case-section .thesis-card__item h2 {
  color: #6645ea;
  margin-bottom: 2px;
}
.case-section .thesis-card__item p {
  color: #383838;
}
.case-section .thesis-card__item:not(:last-child) {
  margin-bottom: 16px;
}
.case-section .info-list {
  padding-bottom: 80px;
}
.case-section .info-list > *:not(:last-child) {
  margin-bottom: 56px;
}
.case-section .info-list .info-item h2, .case-section .info-list .info-item h4 {
  margin-bottom: 12px;
}
.case-section .info-list .info-item h2 + h4 {
  margin-top: -4px;
}
.case-section .info-list .info-item ul li {
  display: flex;
  align-items: flex-start;
  color: #383838;
}
.case-section .info-list .info-item ul li:not(:last-child) {
  margin-bottom: 20px;
}
.case-section .info-list .info-item ul li p:first-child {
  margin-right: 10px;
}
.case-section .info-list .review-card, .case-section .info-list .review-card--img {
  margin-bottom: 26px;
}
.case-section .review-card, .case-section .review-card--img {
  margin: 26px 0;
  background: #f4f6f6;
  border-radius: 4px;
  padding: 24px 16px;
}
.case-section .review-card__author {
  margin: 24px 0 2px;
}
.case-section .review-card--img__footer {
  margin-top: 26px;
  display: flex;
  align-items: center;
}
.case-section .review-card--img img {
  margin-right: 30px;
}
.case-section .review-card--img__author {
  margin: 0 0 4px;
}
@media only screen and (min-width: 1024px) {
  .case-section {
    padding-top: 100px;
  }
  .case-section__inner {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
  }
  .case-section__inner > *:last-child {
    flex: 1;
    margin-right: 32px;
  }
  .case-section__inner > *:last-child {
    flex-basis: 391px;
  }
  .case-section .info-list {
    padding-bottom: 80px;
  }
  .case-section .info-list > *:not(:last-child) {
    margin-bottom: 80px;
  }
  .case-section .info-list .info-item h2 {
    margin-bottom: 16px;
  }
  .case-section .info-list .info-item h4 {
    margin-bottom: 16px;
  }
  .case-section .info-list .review-card, .case-section .info-list .review-card--img {
    margin: 40px 0 50px;
  }
  .case-section__title {
    margin-bottom: 14px;
  }
  .case-section__hero-img {
    margin-bottom: 60px;
  }
  .case-section .thesis-card {
    padding: 40px;
  }
  .case-section .thesis-card__item:not(:last-child) {
    margin-bottom: 24px;
  }
}

.services-page {
  padding-top: 24px;
}
.services-page .service-list {
  display: grid;
  gap: 32px;
}
.services-page .service-type-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 32px 0 48px;
}
@media only screen and (min-width: 768px) {
  .services-page {
    padding-top: 50px;
  }
  .services-page .service-list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 29px;
    row-gap: 30px;
  }
  .services-page .service-type-list {
    margin: 80px 0 60px;
  }
}
@media only screen and (min-width: 1024px) {
  .services-page {
    padding-top: 100px;
  }
  .services-page .service-list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 29px;
    row-gap: 30px;
  }
  .services-page .service-type-list {
    gap: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
