.cases-page {
  .tags-section {
    padding-bottom: 48px;
    &__title {
      font-size: 42px;
      margin: 16px 0 32px;
    }
    .tag-list {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      & > li {
        flex-basis: auto;
      }
    }
  }
  .projects {
    padding-bottom: 0;
    &__list {
      display: grid;
      gap: 40px;
      margin-bottom: 0;
      li img {
        width: 100%;
      }
    }
  }
  @media only screen and (min-width: 1024px) {
    .tags-section {
      padding-bottom: 60px;
      &__title {
        font-size: 95px;
        margin: 100px 0 80px;
      }
    }
  }
}

