.home {
  .partners {
    padding: 32px 0 80px;
    .swiper-slide {
      max-width: 132px;
    }
  }
  .services {
    background: $bg-gray--light;
    padding: 100px 0;
    &__title {
      margin-bottom: 24px;
    }
  }
  .service-list {
    margin-bottom: 40px;
  }
  .clients {
    padding: 80px 0;
    &__title {
      margin-bottom: 32px;
      color: $clr-black--light;
    }
    &__review-list {
      ul {
        &:not(:last-child) {
          margin-bottom: 32px;
        }
        li:not(:last-child) {
          margin-bottom: 32px;
        }
      }
    }
    .review-item {
      padding: 24px 16px;
      border-radius: 6px;
      & * {
        color: $clr-white;
      }
      p {
        font-size: 20px;
        line-height: 27px;
        margin: 16px 0 24px;
      }
      &__author {
        display: flex;
        align-items: center;
        img {
          margin-right: 24px;
        }
        &-name {
          @extend .body1--semibold;
          margin-bottom: 4px;
        }
        &-title {
         @extend .body1;
         font-weight: 400;
        }
      }
      &--diksi {
        background: $clr-cyan;
      }
      &--bristol {
        background: $clr-lilac--1;
      }
      &--mokka {
        background: $clr-lilac;
      }
      &--energogarant {
        background: $clr-lilac--3;
      }
    }
  }
  @media only screen and (min-width: $desktop) {
    .partners {
      padding: 129px 0 207px;
      .swiper-slide {
        max-width: none;
      }
    }
    .services {
      background: $bg-gray--light;
      &__title {
        margin-bottom: 50px;
      }
      .service-list {
        margin-bottom: 70px;
      }
      &__footer {
        display: flex;
        justify-content: flex-end;
      }
    }
    .clients {
      padding: 190px 0;
      &__title {
        margin-bottom: 50px;
      }
      &__review-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
      }
      .review-item {
        padding: 40px;
        p {
          margin: 30px 0 56px;
        }
      }
    }
  }
}
.projects {
  padding-bottom: 80px;
  &__list {
    display: grid;
    gap: 40px;
    margin-bottom: 40px;
    li {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      overflow: hidden;
      img {
        width: 100%;
        min-height: 370px;
      }
    }
  }
  .project-item {
    position: relative;
    &__content {
      position: absolute;
      top: 24px;
      left: 16px;
      right: 16px;
    }
    &__title {
      @extend .sub1--bold;
      margin-bottom: 6px;
      color: $clr-white;
    }
    &__subtitle {
      @extend .body1;
      color: $bg-gray--light;
    }
    img {
      max-height: 642px;
      object-fit: cover;
    }
  }
  @media only screen and (min-width: $desktop) {
    &__list {
      grid-template-columns: 500px 180px 500px;
      grid-template-rows: repeat(3, 640px);
      gap: 30px;
      a {
        width: 100%;
        height: 100%;
        img {
        }
      }
      & > *:nth-child(1) {
        grid-column: 1/3;
      }
      & > *:nth-child(2) {
        grid-column: 3/-1;
      }
      & > *:nth-child(3) {
        grid-column: 1/2;
      }
      & > *:nth-child(4) {
        grid-column: 2/-1;
      }
      & > *:nth-child(5) {
        grid-column: 1/3;
      }
      & > *:nth-child(6) {
        grid-column: 3/-1;
      }
      & > *:nth-child(7) {
        grid-column: 1/3;
      }
      .small {
        flex-basis: 499px;
      }
    }
    .project-item {
      &__content {
        top: 32px;
        left: 32px;
        right: 138px;
      }
    }
  }
}