.contact-us {
  padding: 80px 0;
  &__title {
    margin-bottom: 32px;
    color: $clr-black--light;
  }
  .form {
    flex: 1;
    .form-field {
      input, textarea {
        color: $clr-gray--dark;
        background-color: $bg-gray--light;
      }
    }
    .form-item,
    .form-item--large {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
    input, textarea {
      font-size: 16px;
      line-height: 21px;
      background: $clr-white;
      padding: 16px 16px 15px;
    }
    textarea {
      min-height: 150px;
      resize: none;
    }
    @media only screen and (max-width: $desktop) {
      .form-group > *:not(:last-child) {
        margin-bottom: 16px;
      }
    }
    .file {
      cursor: pointer;
      display: flex;
      align-items: center;
      border: 1px dashed $clr-black;
      padding: 18px 16px;
      @extend .body1;
      img {
        margin-left: 13px;
      }
      input {
        display: none;
      }
    }
    &-checkbox {
      display: flex;
      align-items: center;
      cursor: pointer;
      input {
        display: none;
        width: 24px;
        height: 24px;
      }
      label {
        @extend .body2;
        color: $clr-black;
      }
      .checkmark {
        width: 24px;
        height: 24px;
        border: 1px solid $clr-black;
        margin-right: 15px;
        &:after {
          background: no-repeat url("/assets/img/icon/Check.svg") center;
          display: inline-block;
          width: 100%;
          height: 100%;
        }
      }
      input:checked ~ .checkmark:after {
        content: '';
      }
    }
    &__lower {
      &-left {
        margin-top: 30px;
      }
    }
  }
  &__title {
    margin-bottom: 50px;
  }
  @media only screen and (min-width: $desktop) {
    padding: 190px 0 190px;
    &__inner {
      display: flex;
      & > *:first-child {
        margin-right: 30px;
      }
    }
    .form-item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      &--large:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    .form {
      input, textarea {
        font-size: 16px;
        line-height: 22px;
        padding: 19px 14px 19px 20px;
      }
      &__lower {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
      }
      .btn-header {
        min-height: 60px;
      }
    }
    .form-group {
      display: flex;
      & > * {
        flex: 1;
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
    .form-checkbox {
      font-size: 16px;
      line-height: 22px;
    }
  }
}