.news-section {
  &__header {
    margin-bottom: 32px;
  }
  &__title {
    color: $clr-black--light;
  }
  @media only screen and (min-width: $desktop) {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;
    }
  }
}
